/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --ifm-color-primary: #FF79E9;
  --ifm-color-primary-dark: #ff53e3;
  --ifm-color-primary-darker: #ff41e0;
  --ifm-color-primary-darkest: #ff08d6;
  --ifm-color-primary-light: #ff9fef;
  --ifm-color-primary-lighter: #ffb1f2;
  --ifm-color-primary-lightest: #ffeafc;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Ubuntu';
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* CUSTOM STYLES FOR ILLIUM */
.navbar {
  background: #1a181e;
}

.footer {
  background: #1a181e;
}

.main-wrapper {
  background: #000;
}

.theme-doc-sidebar-container {
  border-right: solid 1px #1a181e !important;
}

.pagination-nav__link {
  border: solid 1px #1a181e;
}

.navbar-sidebar {
  background: #1a181e;
}

.navbar__title {
  display: none;
}

.navbar__logo {
  width: 30px;
}

.breadcrumbs__link {
  background: #1a181e !important;
  border-radius: 10px !important;
}

.menu__link--active {
  background-color: #222028 !important;
}